.Content_box {
    width: 790px;
    height: 650px;
    overflow-y: auto;
    background-color: rgba(211,211,211,0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid black;
    border-top: transparent;
    padding: 3px;
    margin: 5px;
    margin-top: 0;
}
.Toggle_Box {
    width: 798px;
    height: 35px;
    background-color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid black;
    padding: 3px;
    margin: 5px; 
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bold;
}
.Toggle_Box:hover {
    border: 1px solid darkgray;
    background-color: royalblue;
    color: white;
}
#div_title{
    margin: 10px;
    font-weight: bold;
    border-bottom: 1px solid gray;
    padding-bottom: 1px;
}
#Visitor_Input_Area {
    width: 790px;
    height: 660px;
    overflow-y: auto;
    background-color: rgba(211,211,211,0.1);
    border: 1px solid black;
    padding: 3px;
    margin: 5px;
}
#sendData_btn {
    position: absolute;
    top: 59px;
    left: 645px;
    width: 135px;
    height: 40px;
    border: 3px solid skyblue;
    background-color: white;
    color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    font-weight: bold;
    font-size: 17px;
    display: inline-block;
}
#sendData_btn:hover {
    background-color: lightskyblue;
    color: white;
}
#sendData_txt_test{
    margin-top: 10px;
    margin-left: 15px;
    width: 617px;
    height: 40px;
    font-size: 20px;
    display: inline-block;
    border: 2px solid #9caaaf;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#SearchResult_test {
    width: 690px;
    height: 100px;
    position: absolute;
    left: 90px;
    top: 96px;
    z-index: -1;
    border: 2px solid grey;
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.result_NameBtn_test {
    width: 680px;
    background-color: white;
    border: 1px solid pink;
    margin-top: 4px;
    margin-left: 8px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}
.result_SelectBtn_test {
    font-size: 16px; 
    font-weight: bold; 
    float: right;
    background-color: white; 
    border: 3px solid pink; 
    border-radius: 5px;
    margin-right: 50px;
}
#InputBox_test{
    border: 2px solid black;
    border-radius: 5px;
    width: 748px;
    height: 300px;
    position: absolute;
    left: 32px;
    top: 230px;
}