td {
    height: 40px;
}
#Officer_part_div {
    width: 808px;
    height: 1000px;
    border: 10px;
}
#TodayDate_val {
    position: relative; 
    left: 50px; 
    display:inline;
}

#div_title {
    margin:10px;
    font-weight:bold;
    border-bottom: 1px solid gray;
    padding-bottom: 1px;
}
#view_box, #history_box {
    width: 790px;
    height: 700px;
    overflow-y:auto;
    background-color: rgba(211,211,211,0.1);
    border-radius: 10px;
    border: 1px solid black;
    padding: 3px;
    margin: 5px;
    float: center;
}
#input_add_box {
    width: 790px;
    height: 120px;
    overflow-y:auto;
    background-color: rgba(211,211,211,0.1);
    border-radius: 10px;
    border: 1px solid black;
    padding: 3px;
    margin: 5px;
    float: center;
}
#div_access_button {
    float:left;
    width:130px;
    height:50px;
    margin: auto;
    text-align: center;
}
#div_close_button {
    float: right;
}
#Add_carList_div {
    margin: 10px;
    border: 1px solid gray;
    padding: 3px;
    height: 50px;
    margin-bottom: 0;
}
#New_carList, #addrow_btn {
    margin-right: -4px;
    margin-left: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#Add_carList, #deleterow_btn {
    margin-left: -4px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#History_btn {
    border-radius: 5px;
    margin-right: 5px;
}
#sendData_btn {
    border: 1px solid skyblue;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}
#sendData_btn:hover {
    background-color: lightskyblue;
    color: white;
}
.btn_style {
    border: 2px solid lightseagreen;
    color: black;
    background-color: white;
    padding: 5px;
}
.btn_style:hover {
    background-color: lightseagreen;
    color:white;
}
.btn_style:active {
    transform: translateZ(5px);
}
.btn_style:focus {
    border: 2px solid rgb(31, 178, 170);
    outline: none;
}
.btn_style:disabled {
    border: 2px solid rgba(129, 139, 139, 0.7);
    background-color: rgba(129, 139, 139, 0.6);
    color: white
}
.form_data{
    border:0 solid black; 
    height:30px;
}
.view_officerList {
    margin: 15px;
    background-color: rgba();
    border: 1px solid gray;
    padding: 3px;
    height: 50px;
}
.view_historyList_coming {
    margin: 8px;
    background-color: lightgreen;
    border: 1px solid gray;
    padding: 3px;
    height: 25px;
}
.view_historyList_going {
    margin: 8px;
    background-color: pink;
    border: 1px solid gray;
    padding: 3px;
    height: 25px;
}
.div_cells{
    float:left;
    /*width:100px;*/
    height:50px;
    margin: auto;
    text-align: center;
}
.div_h_cells {
    float:left;
    /*width:70px;*/
    height:20px;
    /*padding: 10px;*/
    text-align: center;
}
.closebutton_style {
    display:inline-block; 
    font-size:13px;
    font-weight: bold;
    background-color: transparent;
    border: none;
}
.closebutton_style:hover {
    color: red;
}
.div_input{
    text-align:center;
    width:100px;
    height:50px;
    border: none;
    background-color:transparent;
    overflow: visible;
}
.div_input_addList{
    text-align:center;
    width:110px;
    height:50px;
    border: none;
    background-color:transparent;
    overflow: visible;
}