#TodayDate_val {
    position: relative;
    left: 50px;
    display: inline;
}
#Content_box, #History_box {
    width: 790px;
    height: 380px;
    overflow-y: auto;
    background-color: rgba(211,211,211,0.1);
    border-radius: 10px;
    border: 1px solid black;
    padding: 3px;
    margin: 5px;
}
#div_title{
    margin: 10px;
    font-weight: bold;
    border-bottom: 1px solid gray;
    padding-bottom: 1px;
}
#OfficeP3_Content_Input_Area {
    width: 790px;
    height: 120px;
    overflow-y: auto;
    background-color: rgba(211,211,211,0.1);
    border-radius: 10px;
    border: 1px solid black;
    padding: 3px;
    margin: 5px;
}
#sendData_btn {
    border: 1px solid skyblue;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}
#sendData_btn:hover {
    background-color: lightskyblue;
    color: white;
}
#Content_Input_Div {
    margin: 10px;
    border: 1px solid gray;
    padding: 3px;
    height: 50px;
    margin-bottom: 0;
}
#OfficeP3_Cotent_Area {
    float:top; 
    width: 790px;
    overflow-y: auto;
    height: 560px;
    border: 1px solid black;
}
#OfficeP3_Input_Area{
    width: 790px;
    height: 100px;
    border: 1px solid black;
    position: absolute;
    top: 725px;
    background-color: oldlace;
    display: block;
}
#OfficeP3_Input_top {
    width: 778px;
    height: 50px;
    margin: 5px;
}
#OfficeP3_Input_bottom {
    width: 778px;
    height: 30px;
    margin-left: 5px;
}
#OfficeP3_toggleBtn {
    position: absolute;
    top: 836px;
    width: 790px;
}
.OfficeP3_Content_style{
    width: 760px;
    height: 50px;
    overflow: auto;
    box-shadow: 1px 1px 3px grey;
    margin: 5px;
    border: 1px solid firebrick;
}
#OfficeP3_posts_btn {
    border-radius: 5px;
    margin-right: 5px;
    border: 2px solid rgb(142, 219, 142);
    color: black;
    background-color: white;
    padding: 5px;
    margin-left: 725px;
}
#OfficeP3_posts_btn:hover {
    color: white;
    background-color: rgb(142, 219, 142);
}
#toggle_OfficeP3_Inp {
    appearance:none;
  }
#toggle_OfficeP3_Inp + label {
    position:absolute;
    cursor:pointer;
    padding:10px;
    background: #26ae90;
    width: 786px;
    border-radius: 3px;
    padding: 8px 10px;
    color: #FFF;
    line-height:20px;
    font-size:12px;
    text-align:center;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    transition:all 500ms ease;
}
#toggle_OfficeP3_Inp + label:after {
    content:"open" 
}
#toggle_OfficeP3_Inp:checked + label:after {
    content:"close"
}
#toggle_OfficeP3_Inp:checked + label {
    background:#dd6149;
}
#Content_AccessBtn {
    float:left;
    width:130px;
    height:50px;
    margin: auto;
    text-align: center;
}
#Content_CloseBtn {
    float: right;
}
.div_input {
    text-align: center;
    height: 50px;
    border: none;
    background-color: white;
    overflow: visible;
    margin: 1px;
}
.Content_InpStyle {
    text-align: center;
    height: 50px;
    border: none;
    background-color: white;
    overflow: visible;
    margin: 1px;
    background-color: transparent; 
    float:left;
}
.OfficeP3_Content {
    margin: 15px;
    background-color: rgba();
    border: 1px solid gray;
    padding: 3px;
    height: 50px;
}
.CloseBtn_style {
    display:inline-block; 
    font-size:13px;
    font-weight: bold;
    background-color: transparent;
    border: none;
}
.CloseBtn_style:hover {
    color: red;
}
.HistoryCell_style {
    float:left;
    height:20px;
    text-align: center;
}
.HistoryContent_Coming {
    margin: 8px;
    background-color: lightgreen;
    border: 1px solid gray;
    padding: 3px;
    height: 25px;
}
.HistoryContent_Going {
    margin: 8px;
    background-color: pink;
    border: 1px solid gray;
    padding: 3px;
    height: 25px;
}