.Content_box {
    width: 790px;
    height: 650px;
    overflow-y: auto;
    background-color: rgba(211,211,211,0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid black;
    border-top: transparent;
    padding: 3px;
    margin: 5px;
    margin-top: 0;
}
.Toggle_Box {
    width: 798px;
    height: 35px;
    background-color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid black;
    padding: 3px;
    margin: 5px; 
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bold;
}
.Toggle_Box:hover {
    border: 1px solid darkgray;
    background-color: royalblue;
    color: white;
}
#div_title{
    margin: 10px;
    font-weight: bold;
    border-bottom: 1px solid gray;
    padding-bottom: 1px;
}
#OfficeP2_Content_Input_Area {
    width: 790px;
    height: 66px;
    overflow-y: auto;
    background-color: rgba(211,211,211,0.1);
    border: 1px solid black;
    padding: 3px;
    margin: 5px;
}
#sendData_btn {
    width: 180px;
    border: 1px solid skyblue;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}
#sendData_btn:hover {
    background-color: lightskyblue;
    color: white;
}
#Content_Input_Div {
    margin: 10px;
    border: 1px solid gray;
    padding: 3px;
    height: 50px;
    margin-bottom: 0;
}
#OfficeP2_Cotent_Area {
    float:top; 
    width: 790px;
    overflow-y: auto;
    height: 560px;
    border: 1px solid black;
}
#OfficeP2_Input_Area{
    width: 790px;
    height: 100px;
    border: 1px solid black;
    position: absolute;
    top: 725px;
    background-color: oldlace;
    display: block;
}
#OfficeP2_Input_top {
    width: 778px;
    height: 50px;
    margin: 5px;
}
#OfficeP2_Input_bottom {
    width: 778px;
    height: 30px;
    margin-left: 5px;
}
#OfficeP2_toggleBtn {
    position: absolute;
    top: 836px;
    width: 790px;
}
.OfficeP2_Content_style{
    width: 760px;
    height: 50px;
    overflow: auto;
    box-shadow: 1px 1px 3px grey;
    margin: 5px;
    border: 1px solid firebrick;
}
#OfficeP2_posts_btn {
    border-radius: 5px;
    margin-right: 5px;
    border: 2px solid rgb(142, 219, 142);
    color: black;
    background-color: white;
    padding: 5px;
    margin-left: 725px;
}
#OfficeP2_posts_btn:hover {
    color: white;
    background-color: rgb(142, 219, 142);
}
#toggle_OfficeP2_Inp {
    appearance:none;
  }
#toggle_OfficeP2_Inp + label {
    position:absolute;
    cursor:pointer;
    padding:10px;
    background: #26ae90;
    width: 786px;
    border-radius: 3px;
    padding: 8px 10px;
    color: #FFF;
    line-height:20px;
    font-size:12px;
    text-align:center;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    transition:all 500ms ease;
}
#toggle_OfficeP2_Inp + label:after {
    content:"open" 
}
#toggle_OfficeP2_Inp:checked + label:after {
    content:"close"
}
#toggle_OfficeP2_Inp:checked + label {
    background:#dd6149;
}
#Content_AccessBtn {
    float:left;
    width:130px;
    height:50px;
    margin: auto;
    text-align: center;
}
.div_input {
    text-align: center;
    height: 50px;
    border: none;
    background-color: white;
    overflow: visible;
    margin: 1px;
}
.Content_InpBtn {
    border-radius: 5px;
    border: 1px solid lightblue;
    text-align: center;
    height: 50px;
    background-color: white;
    overflow: visible;
    margin: 1px;
    margin-right: 5px; 
    background-color: transparent; 
    float:left;
    font-weight: bold;
}
.Content_InpBtn:hover {
    background-color: lightblue;
    color: white;
}
.Change_InpBtn {
    border-radius: 5px;
    border: 1px solid rgb(142, 219, 142);
    text-align: center;
    height: 50px;
    background-color: white;
    overflow: visible;
    margin: 1px;
    margin-right: 5px; 
    background-color: transparent; 
    float:left;
    font-weight: bold;
}
.Change_InpBtn:hover {
    background-color: rgb(142, 219, 142);
    color: white;
}
.Content_InpStyle {
    border-radius: 5px;
    border: 1px solid lightblue;
    text-align: center;
    height: 50px;
    background-color: white;
    overflow: visible;
    margin: 1px;
    margin-right: 5px; 
    background-color: transparent; 
    float:left;
    font-weight: bold;
}
.OfficeP2_Content {
    margin: 15px;
    background-color: rgba();
    border: 1px solid gray;
    padding: 3px;
    height: 75px;
}
.CloseBtn_style {
    display:inline-block; 
    font-size:13px;
    font-weight: bold;
    background-color: transparent;
    border: none;
}
.CloseBtn_style:hover {
    color: red;
}
.ContentTime_style{
    width: 130px;
    font-weight: bold; 
    float:left;
    text-align: center;
}
.operate_InpBtn { 
    float: right;
    font-size: 13px;
    padding: 2px;
    margin-top: 3px;
    margin-right: 5px;
}


/* 출퇴근 토글 버튼 디자인 */
.button.b2{
    border-radius: 2px;
}
.button{
    position: relative;
    top: 50%;
    width: 135px;
    height: 42px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}
.checkbox{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}
.knobs{
    z-index: 2;
}
.layer{
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}
.button-cover, .knobs, .layer{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#CommuteBtn .knobs:before{
    content: '출근';
    position: absolute;
    top: 4px;
    left: 8px;
    width: 50px;
    height: 15px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #03A9F4;
    border-radius: 2px;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}
#CommuteBtn .checkbox:active + .knobs:before{
    width: 46px;
}
#CommuteBtn .checkbox:checked:active + .knobs:before{
    margin-left: -26px;
}
#CommuteBtn .checkbox:checked + .knobs:before{
    content: '퇴근';
    left: 68px;
    background-color: #F44336;
}
#CommuteBtn .checkbox:checked ~ .layer{
    background-color: #fcebeb;
}
